<!-- top header start -->
<section>
    <div class="container h-100 w-100 py-4 mx-auto" >
       
        <div class="row h-100 m-0 p-0 my-2 w-100  align-items-center ">
          <div class="col-md-6 order-md-1 order-2 text-md-left text-center py-4 " data-aos="fade-right" data-aos-delay="20"  data-aos-duration="1250">
            <h4 class="font-weight-light"><b>Headphones  Matter</b></h4>
            <div class="description py-3">
            <span><i class="fas fa-quote-left"></i></span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident blanditiis qui quia nihil nulla, optio labore deserunt possimus magnam voluptate est aspernatur, nostrum fugiat, praesentium consectetur asperiores. Minima, recusandae esse.
         </p>
         <span><i class="fas fa-quote-right"></i></span>
        </div>
           <button class=" btn btn-custom">Buy Now</button>
          </div>
          <div class="col-md-6 order-md-2 order-1 text-center p-0" data-aos="fade-left" data-aos-delay="20"  data-aos-duration="1250">
            
            <img  src="assets/images/topheader.svg"  alt=" Image"  class="img-fluid">
          </div>
        </div>
      </div>



</section>



<!-- top header end -->

