<!-- footer section start -->
<footer class="bg-light  container-fluid ">
    <div class="container  py-4 ">
        <div class="row justify-content-center ">
          <div class="col-md-1 col-2 ">
              <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-md-1 col-2">
              <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-1 col-2">
                <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-md-1 col-2">
                  <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-1 col-2">
                    <i class="fab fa-whatsapp fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-1 col-2">
                      <i class="fab fa-youtube fa-2x" aria-hidden="true"></i>
                    </div>
                    
                  
        </div>
      </div>
    </footer>
  

<footer class="bottom  bg-custom w-100 ">
  <div class="container  py-3  ">
    <div class="row text-center justify-content-center justify-content-lg-between ">
      <div class="col-md-2 col-12">
        <img src="assets/images/logo.svg" width="50" height="50" alt="logo">
      </div>
          
              <div class="col-md-3 col-12  pt-2">
                 <p>@Headphonesindiacopyright2020</p>
                </div>
                
              
    </div>
  </div>

</footer>
<!-- footer section end -->
<!-- scroll button -->
<div class="scroll-button">
  <i class="fas fa-angle-up " aria-hidden="true"></i>
</div>



