<!-- headphone store section start -->
<div class="container-fluid ">
    <section class="container py-4" id="service">
            <h2 class=" text-center py-2">Our Products</h2>
      <div class="row">
        <div class=" col-lg-4 col-md-6 col-sm-12 ">
          <div class="card" style="width:250px"   data-aos="flip-right"  data-aos-offset="200" data-aos-delay="50">
            <img class="card-img-top" src="assets/images/headphone1.jpg" alt="headphone" style="width:100%">
            <div class="card-body">
                <div class="overlay-4"> <h4>
                    <i class="fas fa-heart" aria-hidden="true"></i>
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                    <i class="fas fa-share" aria-hidden="true"></i> </h4>
                  </div>
              <h4 class="card-title"> 400Rs</h4>
              <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
              <a href="#" class="btn btn-custom">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width:250px"   data-aos="flip-right"  data-aos-offset="200" data-aos-delay="50">
        <img class="card-img-top" src="assets/images/headphone2.jpg" alt="headphone" style="width:100%">
        <div class="card-body">
            <div class="overlay-4"> <h4>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <i class="fas fa-shopping-cart" aria-hidden="true"></i>
              <i class="fas fa-share" aria-hidden="true"></i> </h4>
              </div>
          <h4 class="card-title"> 400Rs</h4>
          <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
          <a href="#" class="btn btn-custom">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width:250px"   data-aos="flip-right"  data-aos-offset="200" data-aos-delay="50">
        <img class="card-img-top" src="assets/images/headphone3.jpg" alt="headphone" style="width:100%">
        <div class="card-body">
            <div class="overlay-4"> <h4>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <i class="fas fa-shopping-cart" aria-hidden="true"></i>
              <i class="fas fa-share" aria-hidden="true"></i> </h4>
              </div>
          <h4 class="card-title"> 400Rs</h4>
          <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
          <a href="#" class="btn btn-custom">Buy Now</a>
        </div>
      </div>
              </div>
               </div>
            
               <div class="row">
                <div class=" col-lg-4 col-md-6 col-sm-12 ">
                  <div class="card" style="width:250px"   data-aos="flip-right"  data-aos-offset="200" data-aos-delay="50">
                    <img class="card-img-top" src="assets/images/headphone4.jpg" alt="headphone" style="width:100%">
                    <div class="card-body">
                        <div class="overlay-4"> <h4>
                          <i class="fas fa-heart" aria-hidden="true"></i>
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                          <i class="fas fa-share" aria-hidden="true"></i></h4>
                          </div>
                      <h4 class="card-title"> 400Rs</h4>
                      <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
                      <a href="#" class="btn btn-custom">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card" style="width:250px"   data-aos="flip-right"  data-aos-offset="200" data-aos-delay="50">
                <img class="card-img-top" src="assets/images/headphone5.jpg" alt="headphone" style="width:100%">
                <div class="card-body">
                    <div class="overlay-4"> <h4>
                      <i class="fas fa-heart" aria-hidden="true"></i>
                      <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                      <i class="fas fa-share" aria-hidden="true"></i> </h4>
                      </div>
                  <h4 class="card-title"> 400Rs</h4>
                  <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
                  <a href="#" class="btn btn-custom">Buy Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card" style="width:250px"   data-aos="flip-right"  data-aos-offset="200" data-aos-delay="50">
                <img class="card-img-top" src="assets/images/headphone6.jpg" alt="headphone" style="width:100%">
                <div class="card-body">
                    <div class="overlay-4"> <h4>
                      <i class="fas fa-heart" aria-hidden="true"></i>
                      <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                      <i class="fas fa-share" aria-hidden="true"></i> </h4>
                      </div>
                  <h4 class="card-title"> 400Rs</h4>
                  <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
                  <a href="#" class="btn btn-custom">Buy Now</a>
                </div>
              </div>
                      </div>
                       </div>
              
    </section>
    </div>
    
  
  <!-- headphone store section end -->
  