<!-- contact us start -->
<section>
    <div class="container h-100 w-100 py-4 mx-auto" >
        <h2 class=" text-center py-2">Contact Us</h2>
        <div class="row ">
          <div class="col-md-5 col-sm-12 d-flex justify-content-center align-items-center" data-aos="zoom-in-down" data-aos-delay="30"  data-aos-duration="1000">
              <img  src="assets/images/contactus.svg"  alt="contact us"  class="img-fluid">
          </div>
          <div class="col-md-6 col-md-6  col-sm-12 mx-auto py-5"  data-aos="zoom-in-up" data-aos-delay="30"  data-aos-duration="1000">
            <form>
              <div class="mb-3">
                 
                  <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="mb-3">
                 
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="mb-3">
                     
                      <input type="tel" class="form-control"  placeholder="Mobile No.">
                    </div>
                <div class="mb-3">
                 
                  <textarea class="form-control"  rows="3"  placeholder="Message"></textarea>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-custom">Send</button>
              </div>
              </form>
          </div>
        </div>
      </div>
  </section>
  
  
  <!-- contact us end -->
  
  