<!-- order section start -->
<section id="order">
    <div class="container h-100 w-100 py-4 mx-auto" >
      <h2 class=" text-center py-2">Order Now</h2>
        <div class="row h-100 m-0 p-0 my-2 w-100  align-items-center ">
            <div class="col-md-6 order-md-1 order-1  p-0 " data-aos="fade-left" data-aos-delay="20"  data-aos-duration="1200">
            
                <img  src="assets/images/buynow.svg"  alt="android Image"  class="img-fluid">
              </div>

          <div class="col-md-6 order-md-2 order-2  py-4 d-flex flex-column justilfy-content-evenly text-md-left  text-center"  data-aos="fade-right" data-aos-delay="20"  data-aos-duration="1200">
            <h4 class=" py-1 pl-2">Confirm Order</h4>
            <div class="form-group ">
                <select class="form-control my-3">
                  <option>Quantity</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>

              <button  class="btn btn-custom calc  my-3 " (click)="dec()"><i class="fa fa-minus"></i></button>
              <button class="btn btn-custom calc  my-3 " style="font-weight:bold" id="sum">{{ numberValue }}</button>
              <button  class="btn btn-custom calc  my-3 " (click)="inc()"><i class="fa fa-plus"></i></button>
          </div>
           <button class=" btn btn-custom  my-3 ">Buy Now</button>
           
          </div>
         
        </div>
      </div>



</section>


<!-- order section end -->
